*node_modules/
*.vscode
*.log
*.gz
*.txt
*data/
*data1_p/
*data2_p/
*data3_p/
*record/
.DS_Store
*for_tweet/
scraping/json/*
scraping/html/*
scraping/screenshot/*
tweet/util/twitter.js
ts/twitter.ts
sql/generated/*
scheduler/logs/*
scheduler/as_service.bat